.logo-container {
    width: 100%;
    height: 100%;
    opacity: 0.3;
    left: auto;
    margin: auto;
    max-height: 35.375rem;

    svg {
        width: 100%;
        height: 100%;

    }

}

.svg-container {
    stroke: #0a94967e;
    stroke-width: 1;
}